In [1]:
import pandas as pd
import pymysql as mc
import os
import sys
import time
import numpy as np
import getpass

/home/ubuntu/anaconda3/lib/python3.6/site-packages/matplotlib/__init__.py:1067: UserWarning: Duplicate key in file "/home/ubuntu/.config/matplotlib/matplotlibrc", line #2
  (fname, cnt))
/home/ubuntu/anaconda3/lib/python3.6/site-packages/matplotlib/__init__.py:1067: UserWarning: Duplicate key in file "/home/ubuntu/.config/matplotlib/matplotlibrc", line #3
  (fname, cnt))

In [2]:
pw = getpass.getpass()
cnx = mc.connect(user='akashgoyal',password=pw,
                 host='stromberg.cs.uchicago.edu',db='mlb_practicum',port=3306)

········

In [46]:
def reclassify_pitches2(df):
        four_seam = ['FF','FA']
        slider = ['SL']
        two_seam = ['FT']
        change_up = ['CH']
        sinker = ['SI','FS']
        knuckleball = ['KN']
        curve = ['CU','KC']
        cutter = ['FC']
        df['pitchType'][df['pitchType'].isin(four_seam)] = 'four_seam'
        df['pitchType'][df['pitchType'].isin(slider)] = 'slider'
        df['pitchType'][df['pitchType'].isin(two_seam)] = 'two_seam'
        df['pitchType'][df['pitchType'].isin(change_up)] = 'change_up'
        df['pitchType'][df['pitchType'].isin(sinker)] = 'sinker'
        df['pitchType'][df['pitchType'].isin(knuckleball)] = 'knuckleball'
        df['pitchType'][df['pitchType'].isin(curve)] = 'curve'
        df['pitchType'][df['pitchType'].isin(cutter)] = 'cutter'
        return df

class slugging_pct:
    def __init__(self,df,trailing_ab,min_abs):
        self.df = df
        self.min_abs = min_abs
        self.trailing_ab = trailing_ab
        self.mapped_df = self.aggregation_helper(df)


    def aggregation_helper(self,df):
        possible_pitches = ['four_seam','slider','two_seam','change_up','sinker',
                        'knuckleball','curve','cutter']

        grouped = df.groupby(['gameID','abNum']).tail(1) #this gets the action pitch of the at bat
        grouped = grouped[grouped['pitchType'].notnull()] #get rid of pitches which we dont know the type
        ball_in_play = ['In play, out(s)','In play, run(s)','In play, no out'] #valid balls in play
        grouped = grouped[grouped.pitchDes.isin(ball_in_play)] #only get balls in play

     #create a dictionary mapping bases to each event
        ball_in_play_outs = ['Groundout','Flyout','Pop Out','Lineout','Sac Fly',
                        'Grounded Into DP','Forceout','Double Play', 'Field Error',
                        'Bunt Groundout','Sac Bunt','Fielders Choice Out','Bunt Pop Out',
                        'Fielders Choice','Bunt Lineout','Sac Fly DP','Triple Play',
                        'Sacrifice Bunt DP','Batter Interference','Fan interference',
                        'Catcher Interference']
        in_play_dict = {i:0 for i in ball_in_play_outs}
        in_play_dict['Home Run'] = 4
        in_play_dict['Triple'] = 3
        in_play_dict['Double'] = 2
        in_play_dict['Single'] = 1
        grouped['bases'] = grouped['the_event'].map(in_play_dict)
        return grouped
    
    def create_pivot(self,gameDate,df):
        grouped = df.groupby(['pitcherID']).tail(self.trailing_ab)

        def pivot_helper(df):
            total = df.sum()
            if len(df)>self.min_abs:
                return total/len(df)
            return '\\N'

        #now calculate the slugging percent
        pivot_table = pd.pivot_table(grouped,values=['bases'],columns=['pitchType'],
                                     index=['pitcherID'], aggfunc=pivot_helper,
                                    fill_value='\\N')

        pivot_table['gameDate'] = gameDate
        return pivot_table

In [42]:
query = """SELECT gameDate,Pitch2.gameID AS gameID, abNum,pitcherID, batterHand,
        the_event,pitchID, pitchType,pitchDes,zone FROM Pitch2 INNER JOIN Game
        ON Game.gameID = Pitch2.gameID WHERE ((pitchType
        NOT IN ('IN','PO','FO','EP','SC','UN','AB')) OR pitchType is NULL)"""

df = pd.read_sql_query(query,cnx)

In [43]:
df2 = df.copy()
df2 = reclassify_pitches2(df2)
df2 = df2.sort_values(['gameDate','gameID','pitchID'],ascending=[True,True,True])

/home/ubuntu/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/ubuntu/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/ubuntu/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/ubuntu/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/ubuntu/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/ubuntu/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/ubuntu/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/ubuntu/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [44]:
a = slugging_pct(df2,500,20)
distinct_dates = df2.gameDate.unique()
full_pivot_table = 'FILLER'
start_type = type(full_pivot_table)

for i,day in enumerate(distinct_dates):
        df = a.mapped_df[a.mapped_df['gameDate']<day]
        if len(df)==0:
                continue

        piv = a.create_pivot(day,df)
        if type(full_pivot_table)!=start_type and len(full_pivot_table)>0:
                full_pivot_table = full_pivot_table.append(piv)

        elif len(piv)!=0:
                full_pivot_table = piv

        if i % 2 == 0:
                print (i,day)
#full_pivot_table.to_csv('pitcher slugging_percentages.txt')

2 2010-04-06
4 2010-04-08
6 2010-04-10
8 2010-04-12
10 2010-04-14
12 2010-04-16
14 2010-04-18
16 2010-04-20
18 2010-04-22
20 2010-04-24
22 2010-04-26
24 2010-04-28
26 2010-04-30
28 2010-05-02
30 2010-05-04
32 2010-05-06
34 2010-05-08
36 2010-05-10
38 2010-05-12
40 2010-05-14
42 2010-05-16
44 2010-05-18
46 2010-05-20
48 2010-05-22
50 2010-05-24
52 2010-05-26
54 2010-05-28
56 2010-05-30
58 2010-06-01
60 2010-06-03
62 2010-06-05
64 2010-06-07
66 2010-06-09
68 2010-06-11
70 2010-06-13
72 2010-06-15
74 2010-06-17
76 2010-06-19
78 2010-06-21
80 2010-06-23
82 2010-06-25
84 2010-06-27
86 2010-06-29
88 2010-07-01
90 2010-07-03
92 2010-07-05
94 2010-07-07
96 2010-07-09
98 2010-07-11
100 2010-07-16
102 2010-07-18
104 2010-07-20
106 2010-07-22
108 2010-07-24
110 2010-07-26
112 2010-07-28
114 2010-07-30
116 2010-08-01
118 2010-08-03
120 2010-08-05
122 2010-08-07
124 2010-08-09
126 2010-08-11
128 2010-08-13
130 2010-08-15
132 2010-08-17
134 2010-08-19
136 2010-08-21
138 2010-08-23
140 2010-08-25
142 2010-08-27
144 2010-08-29
146 2010-08-31
148 2010-09-02
150 2010-09-04
152 2010-09-06
154 2010-09-08
156 2010-09-10
158 2010-09-12
160 2010-09-14
162 2010-09-16
164 2010-09-18
166 2010-09-20
168 2010-09-22
170 2010-09-24
172 2010-09-26
174 2010-09-28
176 2010-09-30
178 2010-10-02
180 2011-03-31
182 2011-04-02
184 2011-04-04
186 2011-04-06
188 2011-04-08
190 2011-04-10
192 2011-04-12
194 2011-04-14
196 2011-04-16
198 2011-04-18
200 2011-04-20
202 2011-04-22
204 2011-04-24
206 2011-04-26
208 2011-04-28
210 2011-04-30
212 2011-05-02
214 2011-05-04
216 2011-05-06
218 2011-05-08
220 2011-05-10
222 2011-05-12
224 2011-05-14
226 2011-05-16
228 2011-05-18
230 2011-05-20
232 2011-05-22
234 2011-05-24
236 2011-05-26
238 2011-05-28
240 2011-05-30
242 2011-06-01
244 2011-06-03
246 2011-06-05
248 2011-06-07
250 2011-06-09
252 2011-06-11
254 2011-06-13
256 2011-06-15
258 2011-06-17
260 2011-06-19
262 2011-06-21
264 2011-06-23
266 2011-06-25
268 2011-06-27
270 2011-06-29
272 2011-07-01
274 2011-07-03
276 2011-07-05
278 2011-07-07
280 2011-07-09
282 2011-07-14
284 2011-07-16
286 2011-07-18
288 2011-07-20
290 2011-07-22
292 2011-07-24
294 2011-07-26
296 2011-07-28
298 2011-07-30
300 2011-08-01
302 2011-08-03
304 2011-08-05
306 2011-08-07
308 2011-08-09
310 2011-08-11
312 2011-08-13
314 2011-08-15
316 2011-08-17
318 2011-08-19
320 2011-08-21
322 2011-08-23
324 2011-08-25
326 2011-08-27
328 2011-08-29
330 2011-08-31
332 2011-09-02
334 2011-09-04
336 2011-09-06
338 2011-09-08
340 2011-09-10
342 2011-09-12
344 2011-09-14
346 2011-09-16
348 2011-09-18
350 2011-09-20
352 2011-09-22
354 2011-09-24
356 2011-09-26
358 2011-09-28
360 2012-03-29
362 2012-04-05
364 2012-04-07
366 2012-04-09
368 2012-04-11
370 2012-04-13
372 2012-04-15
374 2012-04-17
376 2012-04-19
378 2012-04-21
380 2012-04-23
382 2012-04-25
384 2012-04-27
386 2012-04-29
388 2012-05-01
390 2012-05-03
392 2012-05-05
394 2012-05-07
396 2012-05-09
398 2012-05-11
400 2012-05-13
402 2012-05-15
404 2012-05-17
406 2012-05-19
408 2012-05-21
410 2012-05-23
412 2012-05-25
414 2012-05-27
416 2012-05-29
418 2012-05-31
420 2012-06-02
422 2012-06-04
424 2012-06-06
426 2012-06-08
428 2012-06-10
430 2012-06-12
432 2012-06-14
434 2012-06-16
436 2012-06-18
438 2012-06-20
440 2012-06-22
442 2012-06-24
444 2012-06-26
446 2012-06-28
448 2012-06-30
450 2012-07-02
452 2012-07-04
454 2012-07-06
456 2012-07-08
458 2012-07-14
460 2012-07-16
462 2012-07-18
464 2012-07-20
466 2012-07-22
468 2012-07-24
470 2012-07-26
472 2012-07-28
474 2012-07-30
476 2012-08-01
478 2012-08-03
480 2012-08-05
482 2012-08-07
484 2012-08-09
486 2012-08-11
488 2012-08-13
490 2012-08-15
492 2012-08-17
494 2012-08-19
496 2012-08-21
498 2012-08-23
500 2012-08-25
502 2012-08-27
504 2012-08-29
506 2012-08-31
508 2012-09-02
510 2012-09-04
512 2012-09-06
514 2012-09-08
516 2012-09-10
518 2012-09-12
520 2012-09-14
522 2012-09-16
524 2012-09-18
526 2012-09-20
528 2012-09-22
530 2012-09-24
532 2012-09-26
534 2012-09-28
536 2012-09-30
538 2012-10-02
540 2013-03-31
542 2013-04-02
544 2013-04-04
546 2013-04-06
548 2013-04-08
550 2013-04-10
552 2013-04-12
554 2013-04-14
556 2013-04-16
558 2013-04-18
560 2013-04-20
562 2013-04-22
564 2013-04-24
566 2013-04-26
568 2013-04-28
570 2013-04-30
572 2013-05-02
574 2013-05-04
576 2013-05-06
578 2013-05-08
580 2013-05-10
582 2013-05-12
584 2013-05-14
586 2013-05-16
588 2013-05-18
590 2013-05-20
592 2013-05-22
594 2013-05-24
596 2013-05-26
598 2013-05-28
600 2013-05-30
602 2013-06-01
604 2013-06-03
606 2013-06-05
608 2013-06-07
610 2013-06-09
612 2013-06-11
614 2013-06-13
616 2013-06-15
618 2013-06-17
620 2013-06-19
622 2013-06-21
624 2013-06-23
626 2013-06-25
628 2013-06-27
630 2013-06-29
632 2013-07-01
634 2013-07-03
636 2013-07-05
638 2013-07-07
640 2013-07-09
642 2013-07-11
644 2013-07-13
646 2013-07-19
648 2013-07-21
650 2013-07-23
652 2013-07-25
654 2013-07-27
656 2013-07-29
658 2013-07-31
660 2013-08-02
662 2013-08-04
664 2013-08-06
666 2013-08-08
668 2013-08-10
670 2013-08-12
672 2013-08-14
674 2013-08-16
676 2013-08-18
678 2013-08-20
680 2013-08-22
682 2013-08-24
684 2013-08-26
686 2013-08-28
688 2013-08-30
690 2013-09-01
692 2013-09-03
694 2013-09-05
696 2013-09-07
698 2013-09-09
700 2013-09-11
702 2013-09-13
704 2013-09-15
706 2013-09-17
708 2013-09-19
710 2013-09-21
712 2013-09-23
714 2013-09-25
716 2013-09-27
718 2013-09-29
720 2014-03-22
722 2014-03-30
724 2014-04-01
726 2014-04-03
728 2014-04-05
730 2014-04-07
732 2014-04-09
734 2014-04-11
736 2014-04-13
738 2014-04-15
740 2014-04-17
742 2014-04-19
744 2014-04-21
746 2014-04-23
748 2014-04-25
750 2014-04-27
752 2014-04-29
754 2014-05-01
756 2014-05-03
758 2014-05-05
760 2014-05-07
762 2014-05-09
764 2014-05-11
766 2014-05-13
768 2014-05-15
770 2014-05-17
772 2014-05-19
774 2014-05-21
776 2014-05-23
778 2014-05-25
780 2014-05-27
782 2014-05-29
784 2014-05-31
786 2014-06-02
788 2014-06-04
790 2014-06-06
792 2014-06-08
794 2014-06-10
796 2014-06-12
798 2014-06-14
800 2014-06-16
802 2014-06-18
804 2014-06-20
806 2014-06-22
808 2014-06-24
810 2014-06-26
812 2014-06-28
814 2014-06-30
816 2014-07-02
818 2014-07-04
820 2014-07-06
822 2014-07-08
824 2014-07-10
826 2014-07-12
828 2014-07-18
830 2014-07-20
832 2014-07-22
834 2014-07-24
836 2014-07-26
838 2014-07-28
840 2014-07-30
842 2014-08-01
844 2014-08-03
846 2014-08-05
848 2014-08-07
850 2014-08-09
852 2014-08-11
854 2014-08-13
856 2014-08-15
858 2014-08-17
860 2014-08-19
862 2014-08-21
864 2014-08-23
866 2014-08-25
868 2014-08-27
870 2014-08-29
872 2014-08-31
874 2014-09-02
876 2014-09-04
878 2014-09-06
880 2014-09-08
882 2014-09-10
884 2014-09-12
886 2014-09-14
888 2014-09-16
890 2014-09-18
892 2014-09-20
894 2014-09-22
896 2014-09-24
898 2014-09-26
900 2014-09-28
902 2015-04-06
904 2015-04-08
906 2015-04-10
908 2015-04-12
910 2015-04-14
912 2015-04-16
914 2015-04-18
916 2015-04-20
918 2015-04-22
920 2015-04-24
922 2015-04-26
924 2015-04-28
926 2015-04-30
928 2015-05-02
930 2015-05-04
932 2015-05-06
934 2015-05-08
936 2015-05-10
938 2015-05-12
940 2015-05-14
942 2015-05-16
944 2015-05-18
946 2015-05-20
948 2015-05-22
950 2015-05-24
952 2015-05-26
954 2015-05-28
956 2015-05-30
958 2015-06-01
960 2015-06-03
962 2015-06-05
964 2015-06-07
966 2015-06-09
968 2015-06-11
970 2015-06-13
972 2015-06-15
974 2015-06-17
976 2015-06-19
978 2015-06-21
980 2015-06-23
982 2015-06-25
984 2015-06-27
986 2015-06-29
988 2015-07-01
990 2015-07-03
992 2015-07-05
994 2015-07-07
996 2015-07-09
998 2015-07-11
1000 2015-07-17
1002 2015-07-19
1004 2015-07-21
1006 2015-07-23
1008 2015-07-25
1010 2015-07-27
1012 2015-07-29
1014 2015-07-31
1016 2015-08-02
1018 2015-08-04
1020 2015-08-06
1022 2015-08-08
1024 2015-08-10
1026 2015-08-12
1028 2015-08-14
1030 2015-08-16
1032 2015-08-18
1034 2015-08-20
1036 2015-08-22
1038 2015-08-24
1040 2015-08-26
1042 2015-08-28
1044 2015-08-30
1046 2015-09-01
1048 2015-09-03
1050 2015-09-05
1052 2015-09-07
1054 2015-09-09
1056 2015-09-11
1058 2015-09-13
1060 2015-09-15
1062 2015-09-17
1064 2015-09-19
1066 2015-09-21
1068 2015-09-23
1070 2015-09-25
1072 2015-09-27
1074 2015-09-29
1076 2015-10-01
1078 2015-10-03
1080 2016-04-03
1082 2016-04-05
1084 2016-04-07
1086 2016-04-09
1088 2016-04-11
1090 2016-04-13
1092 2016-04-15
1094 2016-04-17

1096 2016-04-19
1098 2016-04-21
1100 2016-04-23
1102 2016-04-25
1104 2016-04-27
1106 2016-04-29
1108 2016-05-01
1110 2016-05-03
1112 2016-05-05
1114 2016-05-07
1116 2016-05-09
1118 2016-05-11
1120 2016-05-13
1122 2016-05-15
1124 2016-05-17
1126 2016-05-19
1128 2016-05-21
1130 2016-05-23
1132 2016-05-25
1134 2016-05-27
1136 2016-05-29
1138 2016-05-31
1140 2016-06-02
1142 2016-06-04
1144 2016-06-06
1146 2016-06-08
1148 2016-06-10
1150 2016-06-12
1152 2016-06-14
1154 2016-06-16
1156 2016-06-18
1158 2016-06-20
1160 2016-06-22
1162 2016-06-24
1164 2016-06-26
1166 2016-06-28
1168 2016-06-30
1170 2016-07-02
1172 2016-07-04
1174 2016-07-06
1176 2016-07-08
1178 2016-07-10
1180 2016-07-16
1182 2016-07-18
1184 2016-07-20
1186 2016-07-22
1188 2016-07-24
1190 2016-07-26
1192 2016-07-28
1194 2016-07-30
1196 2016-08-01
1198 2016-08-03
1200 2016-08-05
1202 2016-08-07
1204 2016-08-09
1206 2016-08-11
1208 2016-08-13
1210 2016-08-15
1212 2016-08-17
1214 2016-08-19
1216 2016-08-21
1218 2016-08-23
1220 2016-08-25
1222 2016-08-27
1224 2016-08-29
1226 2016-08-31
1228 2016-09-02
1230 2016-09-04
1232 2016-09-06
1234 2016-09-08
1236 2016-09-10
1238 2016-09-12
1240 2016-09-14
1242 2016-09-16
1244 2016-09-18
1246 2016-09-20
1248 2016-09-22
1250 2016-09-24
1252 2016-09-26
1254 2016-09-28
1256 2016-09-30
1258 2016-10-02
1260 2017-04-03
1262 2017-04-05
1264 2017-04-07
1266 2017-04-09
1268 2017-04-11
1270 2017-04-13
1272 2017-04-15
1274 2017-04-17
1276 2017-04-19
1278 2017-04-21
1280 2017-04-23
1282 2017-04-25
1284 2017-04-27
1286 2017-04-29
1288 2017-05-01
1290 2017-05-03
1292 2017-05-05
1294 2017-05-07
1296 2017-05-09
1298 2017-05-11
1300 2017-05-13
1302 2017-05-15
1304 2017-05-17
1306 2017-05-19
1308 2017-05-21
1310 2017-05-23
1312 2017-05-25
1314 2017-05-27
1316 2017-05-29
1318 2017-05-31
1320 2017-06-02
1322 2017-06-04
1324 2017-06-06
1326 2017-06-08
1328 2017-06-10
1330 2017-06-12
1332 2017-06-14
1334 2017-06-16
1336 2017-06-18
1338 2017-06-20
1340 2017-06-22
1342 2017-06-24
1344 2017-06-26
1346 2017-06-28
1348 2017-06-30
1350 2017-07-02
1352 2017-07-04
1354 2017-07-06
1356 2017-07-08
1358 2017-07-14
1360 2017-07-16
1362 2017-07-18
1364 2017-07-20
1366 2017-07-22
1368 2017-07-24
1370 2017-07-26
1372 2017-07-28
1374 2017-07-30
1376 2017-08-01
1378 2017-08-03
1380 2017-08-05
1382 2017-08-07
1384 2017-08-09
1386 2017-08-11
1388 2017-08-13
1390 2017-08-15
1392 2017-08-17
1394 2017-08-19
1396 2017-08-21
1398 2017-08-23
1400 2017-08-25
1402 2017-08-27
1404 2017-08-29
1406 2017-08-31
1408 2017-09-02
1410 2017-09-04
1412 2017-09-06
1414 2017-09-08
1416 2017-09-10
1418 2017-09-12
1420 2017-09-14
1422 2017-09-16
1424 2017-09-18
1426 2017-09-20
1428 2017-09-22
1430 2017-09-24
1432 2017-09-26
1434 2017-09-28
1436 2017-09-30

In [45]:
full_pivot_table

                         bases                                         \
pitchType            change_up     curve cutter four_seam knuckleball
pitcherID batterHand
120221    L                 \N        \N     \N        \N         NaN
          R                 \N        \N     \N        \N         NaN
150011    L                 \N        \N     \N        \N         NaN
          R                 \N        \N     \N        \N         NaN
277417    L                 \N        \N     \N        \N         NaN
          R                 \N        \N     \N        \N         NaN
282332    L                 \N        \N     \N        \N         NaN
          R                 \N        \N     \N        \N         NaN
430673    R                 \N        \N     \N        \N         NaN
449097    L                 \N        \N     \N        \N         NaN
          R                 \N        \N     \N        \N         NaN
453268    L                 \N        \N     \N        \N         NaN
501955    R                 \N        \N     \N        \N         NaN
502085    L                 \N        \N     \N        \N         NaN
          R                 \N        \N     \N        \N         NaN
506606    L                 \N        \N     \N        \N         NaN
          R                 \N        \N     \N        \N         NaN
110683    L                 \N        \N     \N        \N         NaN
          R                 \N        \N     \N        \N         NaN
112020    L                 \N        \N     \N        \N         NaN
          R                 \N        \N     \N        \N         NaN
117955    L                 \N        \N     \N        \N         NaN
          R                 \N        \N     \N        \N         NaN
119984    R                 \N        \N     \N        \N         NaN
120221    L                 \N        \N     \N        \N         NaN
          R                 \N        \N     \N        \N         NaN
123790    R                 \N        \N     \N        \N         NaN
133460    L                 \N        \N     \N        \N         NaN
          R                 \N        \N     \N        \N         NaN
133982    L                 \N        \N     \N        \N         NaN
...                        ...       ...    ...       ...         ...
656427    L                 \N        \N     \N        \N          \N
          R                 \N        \N     \N        \N          \N
656546    L            0.54902  0.409091     \N  0.520661          \N
          R                 \N   0.52381     \N  0.692857          \N
656547    L                 \N        \N     \N        \N          \N
          R                 \N  0.444444     \N  0.567568          \N
656756    L                 \N        \N     \N        \N          \N
          R           0.354167  0.603175     \N  0.534247          \N
656794    L                 \N  0.458333     \N  0.586957          \N
          R           0.638889  0.388889     \N  0.606061          \N
656945    L                 \N        \N     \N        \N          \N
          R                 \N        \N     \N        \N          \N
657205    L                 \N        \N     \N        \N          \N
          R                 \N        \N     \N        \N          \N
657610    L            0.52381        \N     \N        \N          \N
          R                 \N        \N     \N        \N          \N
657670    L                 \N        \N     \N        \N          \N
          R                 \N        \N     \N        \N          \N
657681    L                 \N        \N     \N        \N          \N
          R                 \N        \N     \N        \N          \N
658792    L                 \N        \N     \N        \N          \N
          R                 \N        \N     \N        \N          \N
659275    L                 \N        \N     \N  0.797101          \N
          R                 \N        \N     \N  0.419355          \N
664208    L                 \N        \N     \N  0.710526          \N
          R                 \N        \N     \N      0.75          \N
664641    L                 \N        \N     \N  0.676471          \N
          R           0.571429        \N     \N  0.622047          \N
664701    L                 \N        \N     \N        \N          \N
          R                 \N        \N     \N        \N          \N

                                                      gameDate
pitchType               sinker    slider  two_seam
pitcherID batterHand
120221    L                 \N        \N        \N  2010-04-05
          R                 \N        \N        \N  2010-04-05
150011    L                 \N        \N        \N  2010-04-05
          R                 \N        \N        \N  2010-04-05
277417    L                 \N        \N        \N  2010-04-05
          R                 \N        \N        \N  2010-04-05
282332    L                 \N        \N        \N  2010-04-05
          R                 \N        \N        \N  2010-04-05
430673    R                 \N        \N        \N  2010-04-05
449097    L                 \N        \N        \N  2010-04-05
          R                 \N        \N        \N  2010-04-05
453268    L                 \N        \N        \N  2010-04-05
501955    R                 \N        \N        \N  2010-04-05
502085    L                 \N        \N        \N  2010-04-05
          R                 \N        \N        \N  2010-04-05
506606    L                 \N        \N        \N  2010-04-05
          R                 \N        \N        \N  2010-04-05
110683    L                 \N        \N        \N  2010-04-06
          R                 \N        \N        \N  2010-04-06
112020    L                 \N        \N        \N  2010-04-06
          R                 \N        \N        \N  2010-04-06
117955    L                 \N        \N        \N  2010-04-06
          R                 \N        \N        \N  2010-04-06
119984    R                 \N        \N        \N  2010-04-06
120221    L                 \N        \N        \N  2010-04-06
          R                 \N        \N        \N  2010-04-06
123790    R                 \N        \N        \N  2010-04-06
133460    L                 \N        \N        \N  2010-04-06
          R                 \N        \N        \N  2010-04-06
133982    L                 \N        \N        \N  2010-04-06
...                        ...       ...       ...         ...
656427    L                 \N        \N        \N  2017-10-01
          R                 \N        \N        \N  2017-10-01
656546    L                 \N        \N        \N  2017-10-01
          R                 \N        \N        \N  2017-10-01
656547    L                 \N        \N        \N  2017-10-01
          R                 \N  0.591837        \N  2017-10-01
656756    L                 \N        \N        \N  2017-10-01
          R                 \N      0.45  0.633663  2017-10-01
656794    L                 \N        \N        \N  2017-10-01
          R                 \N        \N        \N  2017-10-01
656945    L                 \N        \N        \N  2017-10-01
          R                 \N        \N        \N  2017-10-01
657205    L                 \N        \N        \N  2017-10-01
          R                 \N        \N        \N  2017-10-01
657610    L           0.423077        \N        \N  2017-10-01
          R              0.575        \N        \N  2017-10-01
657670    L                 \N        \N        \N  2017-10-01
          R                 \N        \N        \N  2017-10-01
657681    L                 \N        \N        \N  2017-10-01
          R                 \N        \N        \N  2017-10-01
658792    L                 \N        \N        \N  2017-10-01
          R                 \N        \N        \N  2017-10-01
659275    L                 \N    0.4375        \N  2017-10-01
          R                 \N  0.478261        \N  2017-10-01
664208    L                 \N        \N        \N  2017-10-01
          R                 \N        \N        \N  2017-10-01
664641    L                 \N  0.448276        \N  2017-10-01
          R           0.684211  0.515152  0.560976  2017-10-01
664701    L                 \N        \N        \N  2017-10-01
          R                 \N        \N        \N  2017-10-01

[3179416 rows x 9 columns]

In [47]:
df3 = df.copy()
df3 = reclassify_pitches2(df3)
b = slugging_pct(df3,500,20)
distinct_dates = df3.gameDate.unique()
full_pivot_table2 = 'FILLER'
start_type = type(full_pivot_table2)

for i,day in enumerate(distinct_dates):
        df = b.mapped_df[b.mapped_df['gameDate']<day]
        if len(df)==0:
                continue

        piv = b.create_pivot(day,df)
        if type(full_pivot_table2)!=start_type and len(full_pivot_table2)>0:
                full_pivot_table2 = full_pivot_table2.append(piv)

        elif len(piv)!=0:
                full_pivot_table2 = piv

        if i % 2 == 0:
                print (i,day)

/home/ubuntu/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/ubuntu/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/ubuntu/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/ubuntu/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/ubuntu/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/ubuntu/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/ubuntu/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/ubuntu/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

2 2010-04-06
4 2010-04-08
6 2010-04-10
8 2010-04-12
10 2010-04-14
12 2010-04-16
14 2010-04-18
16 2010-04-20
18 2010-04-22
20 2010-04-24
22 2010-04-26
24 2010-04-28
26 2010-04-30
28 2010-05-02
30 2010-05-04
32 2010-05-06
34 2010-05-08
36 2010-05-10
38 2010-05-12
40 2010-05-14
42 2010-05-16
44 2010-05-18
46 2010-05-20
48 2010-05-22
50 2010-05-24
52 2010-05-26
54 2010-05-28
56 2010-05-30
58 2010-06-01
60 2010-06-03
62 2010-06-05
64 2010-06-07
66 2010-06-09
68 2010-06-11
70 2010-06-13
72 2010-06-15
74 2010-06-17
76 2010-06-19
78 2010-06-21
80 2010-06-23
82 2010-06-25
84 2010-06-27
86 2010-06-29
88 2010-07-01
90 2010-07-03
92 2010-07-05
94 2010-07-07
96 2010-07-09
98 2010-07-11
100 2010-07-16
102 2010-07-18
104 2010-07-20
106 2010-07-22
108 2010-07-24
110 2010-07-26
112 2010-07-28
114 2010-07-30
116 2010-08-01
118 2010-08-03
120 2010-08-05
122 2010-08-07
124 2010-08-09
126 2010-08-11
128 2010-08-13
130 2010-08-15
132 2010-08-17
134 2010-08-19
136 2010-08-21
138 2010-08-23
140 2010-08-25
142 2010-08-27
144 2010-08-29
146 2010-08-31
148 2010-09-02
150 2010-09-04
152 2010-09-06
154 2010-09-08
156 2010-09-10
158 2010-09-12
160 2010-09-14
162 2010-09-16
164 2010-09-18
166 2010-09-20
168 2010-09-22
170 2010-09-24
172 2010-09-26
174 2010-09-28
176 2010-09-30
178 2010-10-02
180 2011-03-31
182 2011-04-02
184 2011-04-04
186 2011-04-06
188 2011-04-08
190 2011-04-10
192 2011-04-12
194 2011-04-14
196 2011-04-16
198 2011-04-18
200 2011-04-20
202 2011-04-22
204 2011-04-24
206 2011-04-26
208 2011-04-28
210 2011-04-30
212 2011-05-02
214 2011-05-04
216 2011-05-06
218 2011-05-08
220 2011-05-10
222 2011-05-12
224 2011-05-14
226 2011-05-16
228 2011-05-18
230 2011-05-20
232 2011-05-22
234 2011-05-24
236 2011-05-26
238 2011-05-28
240 2011-05-30
242 2011-06-01
244 2011-06-03
246 2011-06-05
248 2011-06-07
250 2011-06-09
252 2011-06-11
254 2011-06-13
256 2011-06-15
258 2011-06-17
260 2011-06-19
262 2011-06-21
264 2011-06-23
266 2011-06-25
268 2011-06-27
270 2011-06-29
272 2011-07-01
274 2011-07-03
276 2011-07-05
278 2011-07-07
280 2011-07-09
282 2011-07-14
284 2011-07-16
286 2011-07-18
288 2011-07-20
290 2011-07-22
292 2011-07-24
294 2011-07-26
296 2011-07-28
298 2011-07-30
300 2011-08-01
302 2011-08-03
304 2011-08-05
306 2011-08-07
308 2011-08-09
310 2011-08-11
312 2011-08-13
314 2011-08-15
316 2011-08-17
318 2011-08-19
320 2011-08-21
322 2011-08-23
324 2011-08-25
326 2011-08-27
328 2011-08-29
330 2011-08-31
332 2011-09-02
334 2011-09-04
336 2011-09-06
338 2011-09-08
340 2011-09-10
342 2011-09-12
344 2011-09-14
346 2011-09-16
348 2011-09-18
350 2011-09-20
352 2011-09-22
354 2011-09-24
356 2011-09-26
358 2011-09-28
360 2012-04-05
362 2012-04-07
364 2012-04-09
366 2012-04-11
368 2012-04-13
370 2012-04-15
372 2012-04-17
374 2012-04-19
376 2012-04-21
378 2012-04-23
380 2012-04-25
382 2012-04-27
384 2012-04-29
386 2012-05-01
388 2012-05-03
390 2012-05-05
392 2012-05-07
394 2012-05-09
396 2012-05-11
398 2012-05-13
400 2012-05-15
402 2012-05-17
404 2012-05-19
406 2012-05-21
408 2012-05-23
410 2012-05-25
412 2012-05-27
414 2012-05-29
416 2012-05-31
418 2012-06-02
420 2012-06-04
422 2012-06-06
424 2012-06-08
426 2012-06-10
428 2012-06-12
430 2012-06-14
432 2012-06-16
434 2012-06-18
436 2012-06-20
438 2012-06-22
440 2012-06-24
442 2012-06-26
444 2012-06-28
446 2012-06-30
448 2012-07-02
450 2012-07-04
452 2012-07-06
454 2012-07-08
456 2012-07-14
458 2012-07-16
460 2012-07-18
462 2012-07-20
464 2012-07-22
466 2012-07-24
468 2012-07-26
470 2012-07-28
472 2012-07-30
474 2012-08-01
476 2012-08-03
478 2012-08-05
480 2012-08-07
482 2012-08-09
484 2012-08-11
486 2012-08-13
488 2012-08-15
490 2012-08-17
492 2012-08-19
494 2012-08-21
496 2012-08-23
498 2012-08-25
500 2012-08-27
502 2012-08-29
504 2012-08-31
506 2012-09-02
508 2012-09-04
510 2012-09-06
512 2012-09-08
514 2012-09-10
516 2012-09-12
518 2012-09-14
520 2012-09-16
522 2012-09-18
524 2012-09-20
526 2012-09-22
528 2012-09-24
530 2012-09-26
532 2012-09-28
534 2012-09-30
536 2012-10-02
538 2013-03-31
540 2013-04-02
542 2013-04-04
544 2013-04-06
546 2013-04-08
548 2013-04-10
550 2013-04-12
552 2013-04-14
554 2013-04-16
556 2013-04-18
558 2013-04-20
560 2013-04-22
562 2013-04-24
564 2013-04-26
566 2013-04-28
568 2013-04-30
570 2013-05-02
572 2013-05-04
574 2013-05-06
576 2013-05-08
578 2013-05-10
580 2013-05-12
582 2013-05-14
584 2013-05-16
586 2013-05-18
588 2013-05-20
590 2013-05-22
592 2013-05-24
594 2013-05-26
596 2013-05-28
598 2013-05-30
600 2013-06-01
602 2013-06-03
604 2013-06-05
606 2013-06-07
608 2013-06-09
610 2013-06-11
612 2013-06-13
614 2013-06-15
616 2013-06-17
618 2013-06-19
620 2013-06-21
622 2013-06-23
624 2013-06-25
626 2013-06-27
628 2013-06-29
630 2013-07-01
632 2013-07-03
634 2013-07-05
636 2013-07-07
638 2013-07-09
640 2013-07-11
642 2013-07-13
644 2013-07-19
646 2013-07-21
648 2013-07-23
650 2013-07-25
652 2013-07-27
654 2013-07-29
656 2013-07-31
658 2013-08-02
660 2013-08-04
662 2013-08-06
664 2013-08-08
666 2013-08-10
668 2013-08-12
670 2013-08-14
672 2013-08-16
674 2013-08-18
676 2013-08-20
678 2013-08-22
680 2013-08-24
682 2013-08-26
684 2013-08-28
686 2013-08-30
688 2013-09-01
690 2013-09-03
692 2013-09-05
694 2013-09-07
696 2013-09-09
698 2013-09-11
700 2013-09-13
702 2013-09-15
704 2013-09-17
706 2013-09-19
708 2013-09-21
710 2013-09-23
712 2013-09-25
714 2013-09-27
716 2013-09-29
718 2014-03-30
720 2014-04-01
722 2014-04-03
724 2014-04-05
726 2014-04-07
728 2014-04-09
730 2014-04-11
732 2014-04-13
734 2014-04-15
736 2014-04-17
738 2014-04-19
740 2014-04-21
742 2014-04-23
744 2014-04-25
746 2014-04-27
748 2014-04-29
750 2014-05-01
752 2014-05-03
754 2014-05-05
756 2014-05-07
758 2014-05-09
760 2014-05-11
762 2014-05-13
764 2014-05-15
766 2014-05-17
768 2014-05-19
770 2014-05-21
772 2014-05-23
774 2014-05-25
776 2014-05-27
778 2014-05-29
780 2014-05-31
782 2014-06-02
784 2014-06-04
786 2014-06-06
788 2014-06-08
790 2014-06-10
792 2014-06-12
794 2014-06-14
796 2014-06-16
798 2014-06-18
800 2014-06-20
802 2014-06-22
804 2014-06-24
806 2014-06-26
808 2014-06-28
810 2014-06-30
812 2014-07-02
814 2014-07-04
816 2014-07-06
818 2014-07-08
820 2014-07-10
822 2014-07-12
824 2014-07-18
826 2014-07-20
828 2014-07-22
830 2014-07-24
832 2014-07-26
834 2014-07-28
836 2014-07-30
838 2014-08-01
840 2014-08-03
842 2014-08-05
844 2014-08-07
846 2014-08-09
848 2014-08-11
850 2014-08-13
852 2014-08-15
854 2014-08-17
856 2014-08-19
858 2014-08-21
860 2014-08-23
862 2014-08-25
864 2014-08-27
866 2014-08-29
868 2014-08-31
870 2014-09-02
872 2014-09-04
874 2014-09-06
876 2014-09-08
878 2014-09-10
880 2014-09-12
882 2014-09-14
884 2014-09-16
886 2014-09-18
888 2014-09-20
890 2014-09-22
892 2014-09-24
894 2014-09-26
896 2014-09-28
898 2015-04-06
900 2015-04-08
902 2015-04-10
904 2015-04-12
906 2015-04-14
908 2015-04-16
910 2015-04-18
912 2015-04-20
914 2015-04-22
916 2015-04-24
918 2015-04-26
920 2015-04-28
922 2015-04-30
924 2015-05-02
926 2015-05-04
928 2015-05-06
930 2015-05-08
932 2015-05-10
934 2015-05-12
936 2015-05-14
938 2015-05-16
940 2015-05-18
942 2015-05-20
944 2015-05-22
946 2015-05-24
948 2015-05-26
950 2015-05-28
952 2015-05-30
954 2015-06-01
956 2015-06-03
958 2015-06-05
960 2015-06-07
962 2015-06-09
964 2015-06-11
966 2015-06-13
968 2015-06-15
970 2015-06-17
972 2015-06-19
974 2015-06-21
976 2015-06-23
978 2015-06-25
980 2015-06-27
982 2015-06-29
984 2015-07-01
986 2015-07-03
988 2015-07-05
990 2015-07-07
992 2015-07-09
994 2015-07-11
996 2015-07-17
998 2015-07-19
1000 2015-07-21
1002 2015-07-23
1004 2015-07-25
1006 2015-07-27
1008 2015-07-29
1010 2015-07-31
1012 2015-08-02
1014 2015-08-04
1016 2015-08-06
1018 2015-08-08
1020 2015-08-10
1022 2015-08-12
1024 2015-08-14
1026 2015-08-16
1028 2015-08-18
1030 2015-08-20
1032 2015-08-22
1034 2015-08-24
1036 2015-08-26
1038 2015-08-28
1040 2015-08-30
1042 2015-09-01
1044 2015-09-03
1046 2015-09-05
1048 2015-09-07
1050 2015-09-09
1052 2015-09-11
1054 2015-09-13
1056 2015-09-15
1058 2015-09-17
1060 2015-09-19
1062 2015-09-21
1064 2015-09-23
1066 2015-09-25
1068 2015-09-27
1070 2015-09-29
1072 2015-10-01
1074 2015-10-03
1076 2016-04-03
1078 2016-04-05
1080 2016-04-07
1082 2016-04-09
1084 2016-04-11
1086 2016-04-13
1088 2016-04-15
1090 2016-04-17
1092 2016-04-19
1094 2016-04-21

1096 2016-04-23
1098 2016-04-25
1100 2016-04-27
1102 2016-04-29
1104 2016-05-01
1106 2016-05-03
1108 2016-05-05
1110 2016-05-07
1112 2016-05-09
1114 2016-05-11
1116 2016-05-13
1118 2016-05-15
1120 2016-05-17
1122 2016-05-19
1124 2016-05-21
1126 2016-05-23
1128 2016-05-25
1130 2016-05-27
1132 2016-05-29
1134 2016-05-31
1136 2016-06-02
1138 2016-06-04
1140 2016-06-06
1142 2016-06-08
1144 2016-06-10
1146 2016-06-12
1148 2016-06-14
1150 2016-06-16
1152 2016-06-18
1154 2016-06-20
1156 2016-06-22
1158 2016-06-24
1160 2016-06-26
1162 2016-06-28
1164 2016-06-30
1166 2016-07-02
1168 2016-07-04
1170 2016-07-06
1172 2016-07-08
1174 2016-07-10
1176 2016-07-16
1178 2016-07-18
1180 2016-07-20
1182 2016-07-22
1184 2016-07-24
1186 2016-07-26
1188 2016-07-28
1190 2016-07-30
1192 2016-08-01
1194 2016-08-03
1196 2016-08-05
1198 2016-08-07
1200 2016-08-09
1202 2016-08-11
1204 2016-08-13
1206 2016-08-15
1208 2016-08-17
1210 2016-08-19
1212 2016-08-21
1214 2016-08-23
1216 2016-08-25
1218 2016-08-27
1220 2016-08-29
1222 2016-08-31
1224 2016-09-02
1226 2016-09-04
1228 2016-09-06
1230 2016-09-08
1232 2016-09-10
1234 2016-09-12
1236 2016-09-14
1238 2016-09-16
1240 2016-09-18
1242 2016-09-20
1244 2016-09-22
1246 2016-09-24
1248 2016-09-26
1250 2016-09-28
1252 2016-09-30
1254 2016-10-02
1256 2017-04-03
1258 2017-04-05
1260 2017-04-07
1262 2017-04-09
1264 2017-04-11
1266 2017-04-13
1268 2017-04-15
1270 2017-04-17
1272 2017-04-19
1274 2017-04-21
1276 2017-04-23
1278 2017-04-25
1280 2017-04-27
1282 2017-04-29
1284 2017-05-01
1286 2017-05-03
1288 2017-05-05
1290 2017-05-07
1292 2017-05-09
1294 2017-05-11
1296 2017-05-13
1298 2017-05-15
1300 2017-05-17
1302 2017-05-19
1304 2017-05-21
1306 2017-05-23
1308 2017-05-25
1310 2017-05-27
1312 2017-05-29
1314 2017-05-31
1316 2017-06-02
1318 2017-06-04
1320 2017-06-06
1322 2017-06-08
1324 2017-06-10
1326 2017-06-12
1328 2017-06-14
1330 2017-06-16
1332 2017-06-18
1334 2017-06-20
1336 2017-06-22
1338 2017-06-24
1340 2017-06-26
1342 2017-06-28
1344 2017-06-30
1346 2017-07-02
1348 2017-07-04
1350 2017-07-06
1352 2017-07-08
1354 2017-07-14
1356 2017-07-16
1358 2017-07-18
1360 2017-07-20
1362 2017-07-22
1364 2017-07-24
1366 2017-07-26
1368 2017-07-28
1370 2017-07-30
1372 2017-08-01
1374 2017-08-03
1376 2017-08-05
1378 2017-08-07
1380 2017-08-09
1382 2017-08-11
1384 2017-08-13
1386 2017-08-15
1388 2017-08-17
1390 2017-08-19
1392 2017-08-21
1394 2017-08-23
1396 2017-08-25
1398 2017-08-27
1400 2017-08-29
1402 2017-08-31
1404 2017-09-02
1406 2017-09-04
1408 2017-09-06
1410 2017-09-08
1412 2017-09-10
1414 2017-09-12
1416 2017-09-14
1418 2017-09-16
1420 2017-09-18
1422 2017-09-20
1424 2017-09-22
1426 2017-09-24
1428 2017-09-26
1430 2017-09-28
1432 2017-09-30

In [55]:
df.head()
#df4 = df.copy()
#df4 = reclassify_pitches2(df4)
#df4.head()

,gameDate,gameID,abNum,pitcherID,batterHand,the_event,pitchID,pitchType,pitchDes,zone,bases
751814,2010-04-04,BOS201004040,1,277417,R,Groundout,3,two_seam,"In play, out(s)",2,0
751837,2010-04-04,BOS201004040,7,277417,R,Groundout,46,two_seam,"In play, out(s)",6,0
751839,2010-04-04,BOS201004040,8,277417,L,Lineout,51,four_seam,"In play, out(s)",9,0
751843,2010-04-04,BOS201004040,9,277417,L,Home Run,58,two_seam,"In play, run(s)",2,4
751852,2010-04-04,BOS201004040,11,277417,L,Single,75,four_seam,"In play, no out",11,1

In [ ]:
qry3 = """SELECT YEAR(gameDate), COUNT(*),akash
          FROM Pitch2 INNER JOIN Game ON Game.gameDate = Pitch2.gameDate
          INNER JOIN Pitch_type_mapping ptm ON ptm.original = Pitch2.pitchType
          GROUP BY YEAR(gameDate),akash"""

my_df = pd.read_sql_query(qry3,cnx)